.input {
    margin-right: 10px;
    border-radius: 2%;
    border: 1px burlywood solid;
    text-align: center;
    height: 30px;
    color: saddlebrown;
}

.input:focus {
    border: 3px palegoldenrod solid;
    box-shadow: 2px 2px 2px brown;
}

.inputlist {
    clear: both;
    margin: 5% auto;
    padding: 50px;
    border-radius: 2%;
    border: 1px burlywood solid;
    width: 350px;
    text-align: left;
}

.inputTitle {
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.inputTitle span {
    font-size: 40px;
}

.inputTitle button {
    font-size: 20px;
}

.inputdata {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}

.inputData input {
    font-size: 30px;
}