body {
    background-color:papayawhip;
    text-align: center;
}

.nav {
    margin-bottom: 30px;
    padding: 1px 0px;
    font-size: 40px;
}

.btn {
    display: inline;
    padding: 5px 10px;
    margin: 5px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    background-color: sienna;
    box-shadow: 1px 1px burlywood;
    border: 1px peru solid;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    vertical-align: middle;
}

.btn:hover {
    background-color: peru;
    color: papayawhip;
    cursor: pointer;
    border: 1px palegoldenrod solid;
}